.timeline {
  position: relative;
  padding: 12px 14px;

  overflow: hidden;

  /* images */
  .timeline-img,
  .learn-img {
    width: 180px;
  }
  h2 {
    border: 8px inset var(--navLinks);
    width: 350px;
    padding: 10px 20px;
    margin: auto;
    margin-bottom: 50px;

    clip-path: polygon(8% 0, 100% 1%, 94% 100%, 0% 100%);
    text-shadow: 2px 2px var(--sidebg);
  }
  @include respond-to("small") {
    padding-bottom: 170px;
    .img-center {
      margin: auto !important;
    }
    h2 {
      font-size: 20px;
      text-align: left;
      margin-left: 4%;
      width: auto;
    }
    .learn-img {
      position: absolute;
      left: -53px;
    }
  }
  @include respond-to("exsmall") {
    padding-bottom: 70px;
  }
}
.Count-down {
  position: absolute;
  right: 10%;
  background-color: var(--sidebg);
  padding: 0.6rem 1rem;
  font-size: 18px;
  font-family: $major;
  color: var(--navLinks);
  box-shadow: 0px 0px 5px var(--sidebg);

  @include respond-to("small") {
    right: 5%;
    padding: 0.6rem 1rem;
    font-size: 10px;
  }
}
.learn-btn {
  padding: 12px 20px;
  background-color: var(--navLinks);
  border: none;
  outline: none;
  color: var(--circleTime);
  display: block;
  z-index: 2;
  margin: auto;
  border-radius: 80px;
  font-weight: bold;
  border: 3px var(--circleTime);
  @include respond-to("small") {
    display: block;
    margin-top: 40px;
  }
}
.timeline-container {
  position: relative;
}
.timeline-container::after {
  content: "";
  position: absolute;
  border-radius: 5px;
  top: 0%;
  width: 6px;
  left: 50%;
  height: 100%;
  z-index: 1;
  background: var(--navLinks);

  @include respond-to("small") {
    left: 5%;
  }
}

.timeline-container {
  .container-right,
  .container-left {
    box-sizing: border-box;
    position: relative;
    width: 50%;
    padding: 5px 160px;

    /* content timeline */
    .content-timeline {
      position: relative;
      box-sizing: border-box;
      border-radius: 5px;
      box-shadow: 0px 0px 5px var(--sidebg);
      padding: 20px 10px;
      background-color: var(--sidebg);

      h5 {
        margin: 8px;
      }
      p {
        margin-top: 0px !important;
      }
      span {
        font-size: 12px;
        display: inline-block;
        padding: 5px 8px;
        border: 1px solid var(--navLinks);
        border-radius: 2px;
        margin: 5px;
        box-shadow: 0px 0px 5px var(--sidebg);
      }
    }

    @include respond-to("exlarge") {
      padding: 5px 70px;
    }
    @include respond-to("medium") {
      padding: 5px 40px;
    }
    @include respond-to("small") {
      padding: 5px 60px;
      padding-right: 10px;
      width: 90%;

      margin-top: 30px;
    }
    @include respond-to("exsmall") {
      padding: 5px 0px;
      padding-left: 40px !important;
      width: 90%;
      margin-top: 30px;
    }
  }
  /* circle on timeline */
  .container-left::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--circleTime);
    top: 12%;
    right: -15px;
    z-index: 10;

    @include respond-to("small") {
      left: -10px;
    }

    /* content arrow */
  }
  .container-right::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--circleTime);
    top: 12%;
    left: -10px;
    z-index: 10;
  }

  /* container alignment */
  .container-left {
    left: 0%;
    .content-timeline::after {
      content: " ";
      position: absolute;
      right: -6.5%;
      width: 0;
      height: 0;
      border: medium solid black;
      border-width: 30px 0px 30px 30px;
      border-color: transparent transparent transparent var(--sidebg);

      border-radius: 30%;
      top: 0%;

      @include respond-to("small") {
        left: -6.5%;
        border-width: 30px 30px 30px 0px;
        border-color: transparent var(--sidebg) transparent transparent;
      }
    }
    @include respond-to("small") {
      left: 5%;
    }
  }
  .container-right {
    left: 50%;
    .content-timeline::after {
      content: " ";
      position: absolute;
      left: -5%;
      width: 0;
      height: 0;
      border: medium solid black;
      border-width: 30px 30px 30px 0px;
      border-color: transparent var(--sidebg) transparent transparent;
      border-radius: 30%;
      top: 0%;
    }

    @include respond-to("small") {
      left: 5%;
    }
  }
}
