/* light colors */

$lightbg: #cdcdcf;
$lightbg2: #efe8d7;
$lightbg3: #b0deeb;
$lightbg4: #e3f6f5;
$subHead: rgb(71, 71, 71);
$specialHead: #207a8b;
$lightMainBar: #eaf0e3;
$lightText: rgb(234, 240, 227);
/* 5DBEBF dark text color */

/* font colors  - light theme */

$navLinks: rgb(71, 71, 71);
